<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/index.css">
    <title>To Do List Vue</title>
</head>
<body>
<div v-cloak id="my-form" class="container main">
    <h2>ToDo List</h2>

    <form action="#" class="todo_form">
        <div class="col form-group input_todo_div">
            <label class="row" for="todo_item">enter you notice</label>
            <input id="todo_item" class="form-control" v-model="newItemText" type="text">
            <div v-if="isInputFieldEmpty" class="invalid_validate">input field is empty!</div>
        </div>

        <div class="col form-group">
            <button @click="addItem" type="button" class="btn btn-dark custom_button">add</button>
        </div>
    </form>

    <ul>
        <todo-item @delete-item="deleteItem" :item="item" :key="item.id" v-for="item in items"></todo-item>
    </ul>
</div>

<script src="node_modules/jquery/dist/jquery.min.js"></script>
<script src="node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="node_modules/vue/dist/vue.js"></script>

<script type="text/x-template" id="todo-item-template">
    <li>
        <div v-if="!isChanged" class="li_div">
            <div class="first_flex_child"><span v-text="item.text"></span></div>
            <div>
                <button @click="deleteItem" type="button" class="btn btn-dark custom_button">delete</button>
                <button @click="editItem" type="button" class="btn btn-dark custom_button">edit</button>
            </div>
        </div>
        <div v-else class="edit_div">
            <div>
                <label>
                    <input v-model="newText" type="text">
                </label>
                <div v-if="isItemEmpty">input field is empty!</div>
            </div>
            <div>
                <button @click="saveItem" type="button" class="btn btn-dark custom_button">save</button>
                <button @click="deleteItem" type="button" class="btn btn-dark custom_button">delete</button>
            </div>
        </div>
    </li>
</script>

<script src="js/script.js"></script>
</body>
</html>