<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/index.css">
    <title>To Do List Vue</title>
</head>
<body>
<div class="container">
    <div v-cloak id="my-form">
        <todo-list></todo-list>
    </div>
   <!-- <h2 class="custom-header">ToDo List</h2>
    <form action="#" class="form_main">
        <div class="row">
            <div class="form-group col">
                <label for="new_todo_item">Enter you notice</label>
                <input id="new_todo_item" type="text" placeholder="here">
            </div>
            <div class="form-group col">
                <button id="add_button" type="button" class="btn btn-dark">add</button>
            </div>
        </div>
    </form>

    <ul id="todo_list">
    </ul> -->
</div>

<script src="node_modules/jquery/dist/jquery.min.js"></script>
<script>
    $.noConflict();
</script>
<script src="node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="node_modules/vue/dist/vue.js"></script>

<script type="text/x-template" id="todo-item-template" src="js/script_v1.js">
    <div>
        <span v-text="item.text"></span>
        <button @click="deleteItem" type="button" class="btn btn-dark">delete</button>
    </div>
</script>

<script type="text/x-template" id="todo-list-template" src="js/script_v1.js">
    <div>
        <h2>TodoList</h2>
        <label>
            <input  v-model="newItemText" type="text">
        </label>
        <button @click="addItem" type="button" class="btn btn-dark">add</button>

        <div>
            <todo-item @delete-item="deleteItem" :item="item" :key="item.id" v-for="item in items"></todo-item>
        </div>
    </div>
</script>

<script src="js/script.js"></script>
</body>
</html>