<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/index.css">
    <title>To Do List Vue v2</title>
</head>
<body>
<div class="container">

    <div v-cloak id="my-form">
        <todo-list></todo-list>
    </div>

</div>

<script src="node_modules/jquery/dist/jquery.min.js"></script>
<script>
    $.noConflict();
</script>
<script src="node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="node_modules/vue/dist/vue.js"></script>

<script type="text/x-template" id="todo-item-edit-template ">

</script>

<script type="text/x-template" id="todo-item-template">
    <li>
        <div v-show="!isModified">
            <span v-text="item.text"></span>
            <button @click="deleteItem" type="button" class="btn btn-dark">delete</button>
            <button @click="editItem" type="button" class="btn btn-dark">edit</button>
        </div>
        <div v-show="isModified">
            <label>
                <input v-model="newText" type="text">
                <button @click="saveItem" type="button" class="btn btn-dark">save</button>
                <button @click="deleteItem" type="button" class="btn btn-dark">delete</button>
            </label>
        </div>
    </li>
</script>

<script type="text/x-template" id="todo-list-template">
    <div>
        <h2>TodoList</h2>

        <form action="" class="needs-validation">
            <div class="row form-group">
                <label class="row" for="todo_item">enter you notice</label>
            </div>
            <div class="row form-group">
                <input id="todo_item" class="is-invalid" v-model="newItemText" type="text">
                <div class="invalid-tooltip">input field is empty</div>
            </div>
            <div class="row form-group">
                <button @click="addItem" type="button" class="btn btn-dark">add</button>
            </div>
        </form>

        <ul>
            <todo-item @delete-item="deleteItem" :item="item" :key="item.id" v-for="item in items"></todo-item>
        </ul>
    </div>
</script>

<script src="js/script.js"></script>
</body>
</html>